.App {
  text-align: center;
  background-color: white;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}
.comment {
  text-align: center;
  border: 4px;
  border-style: double;
  border-color: rgb(106, 190, 106);
  list-style: none;
}

.dog {
  width: 200px;
}
.list {
  padding-left: 0px;
  margin: 0px;
}
.dropdown {
  font-size: 18px;
  padding: 10px 8px 10px 14px;
  background: #fff;
  border: 1px solid #ccc;
  border-radius: 6px;
  position: relative;
}
.articles {
  padding: 20px;
  margin: 40px;
  color: black;
  border: 6px #668ba4;
  border-style: double;
  list-style: none;
}
@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
